* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
    margin-top: 77px;
}


ul {
    display: inline-block;
    margin: 0;
    padding: 0;

}

a {
    text-decoration: none;
    color: rgb(98, 98, 98);

}

.p1 {
    margin-right: 120px;

}

.p2 {
    margin-right: 105px;
}

.p3 {
    margin-right: 95px;
}

ul>li {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
}

article {
    display: inline-block;
    width: calc(50% - 5px);
    text-align: center;

}

#point1,
#point2 {
    margin-top: 104px;
}

#point3,
#point4,
#ppint5,
#point6 {
    margin-top: 136px;
}

section {
    margin: 0 150px;
    margin-top: 140px;

}

.btext1 {
    opacity: 0.5;
}

h2 {
    font-size: 30px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    font-weight: 300;
    text-align: left;
}

#buttom1 {

    padding: 25px;
    font-size: 20px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.2;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    background-color: white;
}

.buttom {
    text-align: center;
    margin: 70px 0;
}

p {
    font-size: 14px;
    font-family: "Playfair Display";
    color: rgb(98, 98, 98);
    line-height: 1.714;
    text-align: left;
    width: 421px;
}

img {
    width: 421px;
    height: 280;
    display: block;
}