.container-last {
  @include between-flex;
  width: 1200px;
  height: 64px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  -ms-flex-line-pack: center;
  border-top: 1px solid #e0d6d6;
}

.container-last__footer {
  color: $secondary-color-red;
}

.container-last__data {
  font-size: 14px;
  font-family: $main-font-monstarat;
  font-weight: 500;
  color: $secondary-color-sit;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding: 0;
}
