.subtitle {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-family: $main-font-kaushanscrip;
  color: $secondary-color-sit;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
}
