.title {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 30px;
  font-family: $main-font-monstarat;
  color: $secondary-color-sit;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
