/* Montserrat-Bold */

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold\ \(1\).woff') format('woff');
}

/* Montserrat-Regular */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular\ \(2\).woff') format('woff');
}

/* Roboto-Light */

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Robotolight.woff') format('woff');
}

/* Roboto-Regular */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto.woff') format('woff');
}

/* Kaushanscript-Regular */

@font-face {
    font-family: 'Kaushanscript-Regular';
    src: url('../fonts/Kaushanscript.woff') format('woff');
}