html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    width: ;
}


.page-nav {
    margin: 0 auto;
    padding: 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
}

.about {
    position: relative;
}

.about::after {
    width: 100%;
    content: "";
    background-color: rgb(238, 8, 8);
    display: block;
    padding-top: 4px;
    bottom: -12px;
    position: absolute;
    opacity: 0;

}

.about:hover {
    color: rgb(238, 8, 8);
    transition: 200ms linear;
}

.site-navigation>li:hover .about::after {
    opacity: 1;
    transition: 200ms linear;
}




.subtitle {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(149, 225, 211);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;

}



.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    min-width: 490px;
    display: flex;

    justify-content: space-between;
}


.site-navigation a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(149, 225, 211);
    font-weight: 500;
}

.text-description-item {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

}

.text-description-item::after {
    width: 60px;
    height: 4px;
    content: "";
    background-color: rgb(238, 8, 8);
    display: block;
    margin: 0 auto;
    margin-top: 38px;

}



.part-text2 {
    display: block;
    padding: 0;
    margin: 0;
    height: 292px;
    width: 100%;
    margin-bottom: 93px;
}

.part-text-item {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 244px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 57px;
}

.text-description-block1 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.specification-block1 {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.site-item {
    width: 380px;
    padding-left: 82px;
    position: relative;
}

.site-item::before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 25px;

}

.p1.site-item::before {
    background-image: url("../module6/logo/1.png");
}

.p2.site-item::before {
    background-image: url("../module6/logo/2.png");
}

.p3.site-item::before {
    background-image: url("../module6/logo/3.png");
}

.p4.site-item::before {
    background-image: url("../module6/logo/4.png");
}

.p5.site-item::before {
    background-image: url("../module6/logo/5.png");
}

.p6.site-item::before {
    background-image: url("../module6/logo/6.png");
}

.text-description-block2 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 25px;
}

.text-description-item2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

.part-text-item3 {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 214px;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.text-description-item-next {
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 98px;
}


.part-block-new {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

}


.section-item {
    padding-bottom: 84px;
}

.part-block-item {
    margin: 0;
    padding: 0;
    width: 380px;
    position: relative;
}

.part-block-item p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;

}

.part-block-item h3 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}


.img-wrapper {
    overflow: hidden;
    height: 470px;
    width: 100%;
    margin-bottom: 40px;
}

.gallery-img {
    display: block;
    max-width: 100%;
    height: auto;

}

.overley {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;


}

.site-block-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}



.logo {
    height: 56px;
    width: 56px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(252, 227, 138);
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 1px;
}


.first {
    background-image: url("../module6/logo/blok2-1.png");
}

.next {

    background-image: url("../module6/logo/blok2-2.png");
}

.end {

    background-image: url("../module6/logo/blok2-3.png");

}

.bay {

    background-image: url("../module6/logo/blok2-4.png");
    margin-right: 0;
}



.part-block-item:hover .overley {
    opacity: 1;

    transform: translate(-10px, -10px);
    background: -webkit-linear-gradient(top, rgba(223, 69, 69, 0.8), rgba(229, 241, 52, 0.7));
    box-shadow: 10px 10px 2px 3px rgb(149, 225, 211);
    opacity: 1;
    transition: 200ms linear;
}



.logo:hover {
    background-color: rgb(149, 225, 211);
    transition: 200ms linear;
}



.email1 {
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    height: 40px;
    width: 230px;
    padding: 0;
    margin: 0;
    padding-left: 14px;
}




.btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(149, 225, 211);
    height: 40px;
    width: 150px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}



.container-last {
    display: block;
    width: 1200px;
    height: 64px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid rgb(224, 214, 214);
    align-items: center;
}


.text-footer {
    color: rgb(238, 8, 8);
}

.container-last-item {
    height: 40px;
    width: 380px;
    margin: 0;
    padding: 0;
    display: flex;

}

.container-last>p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;

}