html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
}

.block-header {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 40px;
    padding-top: 32px;
}

.page-nav {
    text-align: left;
    float: right;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.site-navigation a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.786;
}

.subtitle {
    float: left;
    text-decoration: none;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.067;
}



.subtitle::first-letter {
    color: rgb(26, 188, 156);
}

.site-navigation a:hover {
    color: rgb(26, 188, 156);
}

.subtitle:hover {
    color: rgb(67, 37, 201);
}

.site-navigation li {
    text-align: center;
    vertical-align: middle;
    margin-right: 38px;
    float: left;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

/* Секція 1 */

.slider {
    padding: 0;
    position: relative;
    background-image: url("../module5/image/blok1.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}



.gallary-photo {
    position: relative;
    top: 50%;

}

.btn_left,
.btn_right {
    display: inline-block;
    width: 104px;
    height: 104px;
    background-color: #1abc9c;
    opacity: 0.65;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.btn_left {
    position: absolute;
    left: 0;
    background-image: url("image/logotype/duzla_left.png");
}

.btn_right {
    position: absolute;
    right: 0;
    background-image: url("image/logotype/duzla_right.png");
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.mart {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(26, 188, 156);
    text-transform: uppercase;
    line-height: 1.067;
    position: absolute;
    left: 241.844px;
    top: 65.828px;
    width: 78px;
    height: 21px;
}

main {
    margin: 0 auto;
    padding: 0;
}

.part-text {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-description-block1 {
    padding: 0;
    margin: 0;
    font-size: 52px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}


.part-text p {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.367;
    text-align: left;
    font-size: 25px;
    font-weight: 100;
}



.text-description {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.778;
    text-align: left;
    background-color: rgb(50, 50, 50);
    height: 40px;
    width: 200px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

.title {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: rgb(81, 81, 81);
    text-transform: uppercase;
    line-height: 0.667;
    text-align: center;
    margin: 0;
    padding-bottom: 80px;
    padding-top: 100px;
}

.title::after {
    height: 8px;
    width: 165px;
    content: "";
    background-color: rgb(26, 188, 156);
    display: block;
    margin: auto;
    margin-top: 32px;
}

.specification-block1 img {
    max-width: 100%;
    max-height: 322px;
    float: left;
}

.site-item {
    width: 255px;
    height: 322px;
    float: left;
    list-style: none;
    position: relative;
}

.site-item:not(:last-child) {
    margin-right: 30px;
}

section {
    padding-bottom: 100px;
    background-color: rgb(233, 240, 253);
}

.specification-block1 {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    max-width: 1110px;
}

.specification-block1 li:last-child {
    margin-right: 0;
}

.team-list-item p {
    height: 40px;
    width: 55px;
    float: right;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(124, 119, 119);
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;

}


.site-item:hover p {
    background-color: rgba(26, 188, 156, 0.5);
    cursor: pointer;

}

.site-item:hover h3 {
    background-color: rgb(26, 188, 156);
    cursor: pointer;
}

.site-block-logo {
    list-style: none;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 32px;
    position: absolute;
    height: 110px;
    width: 170px;
    transform: translateY(-50%);
}

.logo {
    height: 50px;
    width: 50px;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);

}

.first {

    background-image: url("image/logotype/logo1.png");
}

.next {

    background-image: url("image/logotype/logo2.png");
}

.end {

    background-image: url("image/logotype/logo3.png");
    margin-right: 0;
}

.logo-bay {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    cursor: pointer;
    height: 50px;
    width: 170px;
    background-image: url("image/logotype/logo4.png");
    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
    color: white;
    float: left;
    padding-left: 35px;
    background-color: rgba(0, 0, 0, 0);
}

.logo-bay:hover {
    background-color: rgb(50, 50, 50);
}


.next:hover {
    cursor: pointer;
    background-color: rgb(26, 188, 156);
}

.text-footer {
    height: 100px;
    background-color: rgb(50, 50, 50);
    text-align: center;
    line-height: 6.2;
}

.text-span {
    color: rgb(26, 188, 156);
}

.text-footer p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(254, 254, 254);
}

.sub-block {
    width: 1110px;
}

button {
    margin: 0;
    padding: 0;
}

.overley {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 282px;
    border: 10px solid rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.549);
    cursor: pointer;

}


.site-item:hover .overley {
    opacity: 1;
}

.team-list-item {
    position: absolute;
    bottom: 0;
}