$main-font-monstarat: 'Montserrat-Regular';
$main-font-monstarat-bold: 'Montserrat-Bold';
$main-font-kaushanscrip: 'Kaushanscript-Regular';
$main-font-roboto-regular: 'Roboto-Regular';
$main-font-roboto-light: 'Roboto-Light';


$secondary-bg-color: #fce38a;
$secondary-bg-color-white: #fff;
$secondary-color-sit: #333333;
$secondary-color-red: #ee0808;
$secondary-color-gray: #999999;
$secondary-color-icon: #f38181;
$gradient-clor-first: #fce38ae6;
$gradient-clor-next: #f38181e6;
