/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    width: ;
}

.page-nav {
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.menu-nav__icon {
    width: 18px;
    height: 20px;
    fill: #fff;
    text-align: center;
}

.menu-nav__link-icon::after {
    width: 100%;
    content: "";
    background-color: rgb(252, 227, 138);
    display: block;
    padding-top: 4px;
    bottom: -12px;
    position: absolute;
    opacity: 0;

}

.menu-nav {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    letter-spacing: 0;
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.menu-nav__link:hover {
    color: rgb(252, 227, 138);
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

.menu-nav>li:hover .menu-nav__link-icon::after {
    opacity: 1;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

.head-section {
    margin: 0;
    padding: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(252, 227, 138, 0.9)), to(rgb(243, 129, 129, 0.9))), url(../../-GoitFecourse-/module10/img/baner/Layer\ 15.png);
    background: -o-linear-gradient(bottom, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9)), url(../../-GoitFecourse-/module10/img/baner/Layer\ 15.png);
    background: linear-gradient(to top, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9)), url(../../-GoitFecourse-/module10/img/baner/Layer\ 15.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding-top: 40px;
    margin-bottom: 48px;
}

.site-logo {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.menu-nav__link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.menu-nav__icon {
    width: 18px;
    height: 20px;
    fill: #fff;
    text-align: center;
}


.menu-nav a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    text-transform: uppercase;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    font-weight: 500;
}




/* text Baner */

.block-head__share {
    padding: 0;
    margin: 0;
    font-size: 72px;
    font-family: 'Kaushanscript-Regular';
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    padding-top: 170px;
    margin-bottom: 64px;
}

.block-head__find {
    padding: 0;
    margin: 0;
    font-size: 150px;
    font-family: 'Montserrat-Bold';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.933;
    text-align: center;
    margin-bottom: 126px;
}



.block-head__button {
    height: 40px;
    width: 160px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2.2;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.title {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 30px;
    font-family: 'Montserrat-Regular';
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;

}

.block-socials__title::after {
    width: 60px;
    height: 4px;
    content: "";
    background-color: rgb(238, 8, 8);
    display: block;
    margin: 0 auto;
    margin-top: 38px;
}



.part-text2 {
    display: block;
    padding: 0;
    margin: 0;
    height: 292px;
    width: 100%;
    margin-bottom: 93px;
}

.block-welcome__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 57px;
}

.subtitle {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'Kaushanscript-Regular';
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 400;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.short-description {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}


.short-description__item {
    width: 380px;
    padding-left: 82px;
    position: relative;
}

.short-description__item-share::before {
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    position: absolute;
    left: 25px;
    background-size: contain;

}

.short-description__item-first::before {
    background-image: url("../module10/img/logo/logo1-min.png");
}

.short-description__item-next::before {
    background-image: url("../module10/img/logo/logo2-min.png");
}

.short-description__item-end::before {
    background-image: url("../module10/img/logo/logo3-min.png");
}

.short-description__item-bay::before {
    background-image: url("../module10/img/logo/logo4-min.png");
}

.short-description__item-between::before {
    background-image: url("../module10/img/logo/logo5-min.png");
}

.short-description__item-last::before {
    background-image: url("../module10/img/logo/logo6-min.png");
}

.site-item__share {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 25px;
}

.site-item__find {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto-Regular';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: left;
}

.section-start {
    margin-bottom: 102px;
}

.block-socials__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.block-socials__item-next {
    padding: 0;
    font-size: 15px;
    font-family: 'Roboto-Regular';
    color: rgb(153, 153, 153);
    line-height: 1.6;
    text-align: center;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 98px;
}


.block-socials__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}


.section-team {
    padding-bottom: 84px;
}

.block-socials__item {
    margin: 0;
    padding: 0;
    width: 380px;
    position: relative;
}

.block-socials__item__occupation {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Roboto-Light';
    color: rgb(153, 153, 153);
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}


.block-socials__item__name {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px;
}


.block-socials h2 {}

.Creativity {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 1248.937px;
    top: 1222.6px;
    z-index: 39;
}

.img-wrapper {
    overflow: hidden;
    height: 470px;
    width: 100%;
    margin-bottom: 40px;
}

.gallery-img {
    display: block;
    max-width: 100%;
    height: auto;

}

.overley {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
}

.block-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.block-gallery__logo:hover {
    background-color: rgb(243, 129, 129);
}

.block-gallery__icon {
    display: inline-block;
    fill: #f38181;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-socials__icon-facebook {
    width: 13px;
    height: 26px;
}

.block-socials__icon-twitter {
    width: 26px;
    height: 26px;
}

.block-socials__icon-pinterest {
    width: 21px;
    height: 26px;
}

.block-socials__icon-instagram {
    width: 26px;
    height: 26px;
}

.block-gallery__logo {
    height: 56px;
    width: 56px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(252, 227, 138);
    border: none;
    padding: 0;
    margin: 0;
    margin-right: 1px;
    position: relative;
}

.block-socials__icon {
    display: inline-block;
    fill: #f38181;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.block-gallery__logo .block-socials__icon {
    fill: #fff;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 200ms;
    -o-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
}

.block-socials__icon-facebook {
    width: 13px;
    height: 26px;
}

.block-socials__icon-instagram {
    width: 26px;
    height: 26px;
}

.block-socials__icon-pinterest {
    width: 21px;
    height: 26px;
}

.block-socials__icon-twitter {
    width: 26px;
    height: 26px;
}


.block-socials__item:hover .overley {
    opacity: 1;
    -webkit-transform: translate(-10px, -10px);
    -ms-transform: translate(-10px, -10px);
    transform: translate(-10px, -10px);
    -webkit-box-shadow: 10px 10px 2px 3px rgb(149, 225, 211);
    box-shadow: 10px 10px 2px 3px rgb(149, 225, 211);
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(252, 227, 138, 0.9)), to(rgb(243, 129, 129, 0.9)));
    background-image: -o-linear-gradient(bottom, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9));
    background-image: linear-gradient(to top, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9));
    opacity: 1;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

.block-info__email {
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    font-family: 'Roboto-Regular';
    border-color: rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.6;
    text-align: left;
    height: 40px;
    width: 230px;
    padding: 0;
    margin: 0;
    padding-left: 14px;
}

.block-info__btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgb(149, 225, 211);
    height: 40px;
    width: 150px;
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}



.container-last {
    display: block;
    width: 1200px;
    height: 64px;
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    border-top: 1px solid rgb(224, 214, 214);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.container-last__footer {
    color: rgb(238, 8, 8);
}

.block-info {
    height: 40px;
    width: 380px;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.container-last__data {
    font-size: 14px;
    font-family: 'Montserrat-Regular';
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
}



@media (-webkit-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .short-description__item-first::before {
        background-image: url("../module10/img/logo/logo1-min@2x.png");
    }

    .short-description__item-next::before {
        background-image: url("../module10/img/logo/logo2-min@2x.png");
    }

    .short-description__item-end::before {
        background-image: url("../module10/img/logo/logo3-min@2x.png");
    }

    .short-description__item-bay::before {
        background-image: url("../module10/img/logo/logo4-min@2x.png");
    }

    .short-description__item-between::before {
        background-image: url("../module10/img/logo/logo5-min@2x.png");
    }

    .short-description__item-last::before {
        background-image: url("../module10/img/logo/logo6-min@2x.png");
    }
}